<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/testing.css">
    <title>Document</title>
  </head>

  <body >
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-secondary fixed-top">
      <div class="container">
        <a class="navbar-brand me-5" href="/">
          <img src="/images/logo.png" alt="logo-brand" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item me-2">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item me-2">
              <a class="nav-link active text-danger fw-bold" href="/blog">Blog</a>
            </li>
            <li class="nav-item me-2">
              <a class="nav-link" href="/testimonial">Testimonials</a>
            </li>
          </ul>

          <div class="d-flex">
            <a class="btn btn-danger" href="/contact-me">Contact Me</a>
          </div>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->

    <!-- Form Blog -->
    <div class="container mb-5" style="margin-top: 100px;">
      <h2 class="text-center">Create Post Blog</h2>

      <form 
        class="w-75 mx-auto"
        method="post"
        action="/addblog"
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" name="title" class="form-control" id="title">
        </div>

        <div class="mb-3">
          <label for="content" class="form-label">Content</label>
          <textarea class="form-control" name="content" id="content" style="resize: none; height: 200px;"></textarea>
        </div>

        <div class="mb-3">
          <label for="uploadImage" class="form-label">Upload Image</label>
          <input type="file" class="form-control" id="uploadImage">
        </div>

        <div class="d-flex justify-content-end mt-5">
          <button type="submit" class="btn btn-danger px-3 py-1">Post Blog</button>
        </div>
      </form>
    </div>

    <footer class="text-center border-top border-danger pt-3">
      <p>Create by Batch 50 Fullstack Developer</p>
    </footer>
  </body>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</html>