body {
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dbdbdb;
  padding: 0 40px;
}

.nav-left ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.nav-left img {
  margin-right: 50px;
}

.nav-left ul li {
  margin-right: 30px;
  font-size: 20px;
}

.nav-left a {
  text-decoration: none;
  color: black;
}

.nav-left a:hover {
  color: orangered;
}

.nav-right a {
  background-color: orangered;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 20px;
}

/* Blog Form */
.blog-form {
  padding: 50px 0;
  display: flex;
  justify-content: center;
}

.blog-form .form-container {
  width: 500px;
}

.blog-form .form-container h1 {
  text-align: center;
  margin-bottom: 40px;
}

.blog-form form label {
  font-size: 20px;
  font-weight: 400;
}

.blog-form form input,
  textarea,
  select {
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 20px;
  background: #f4f3f3;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
}

.blog-form form textarea {
  height: 250px;
}

.blog-form form .input-blog-image-group {
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 20px;
  background: #f4f3f3;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  cursor: pointer;
}

.blog-form form .input-blog-image-group label p {
  font-size: 15px;
}

.blog-form form .input-blog-image-group label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog-form form .button-group {
  text-align: right;
}

.blog-form form button {
  margin-top: 50px;
  padding: 8px 20px;
  font-size: 17px;
  background: #ec4d37;
  border-radius: 8px;
  border: none;
  color: #fff;
  cursor: pointer;
}

.blog hr {
  border: 1px solid #dbdbdb;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
  
  /* Blog list */
.blog .blog-list {
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.blog .blog-list .blog-list-item {
  width: 80%;
  padding: 15px;
  margin-bottom: 20px;
  border: 2px solid #dbdbdb;
  border-radius: 8px;
  display: flex;
}

.blog .blog-list .blog-list-item .blog-image {
  flex: 1;
}

.blog .blog-list .blog-list-item .blog-image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.blog .blog-list .blog-list-item .blog-content {
  padding-left: 20px;
  flex: 2;
}

.blog .blog-list .btn-group {
  text-align: right;
  margin-bottom: 20px;
}

.blog .blog-list .btn-group .btn-edit {
  padding: 5px 10px;
  border: 0;
  border-radius: 4px;
  background: #dbdbdb;
}

.blog .blog-list .btn-group .btn-post {
  padding: 5px 10px;
  border: 0;
  border-radius: 4px;
  background: #ec4d37;
  color: #fff;
}

.blog .blog-list h1 a {
  text-decoration: none;
  color: #000000;
}

.blog .blog-list .detail-blog-content {
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
}

.blog .blog-list .blog-list-item p {
  margin-top: 20px;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: justify;
}
  
  /* Blog Detail */
.blog-detail {
  display: flex;
  justify-content: center;
}
  
.blog-detail-container {
  width: 80%;
  margin: 40px 0;
}
  
.blog-detail-container img {
  width: 100%;
}
  
.blog-detail-container h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 44px;
  line-height: 120%;
  margin-bottom: 15px;
}

.blog-detail-container .author {
  font-weight: 100;
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 20px;
}
  
.blog-detail-container p {
  margin-top: 40px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 140%;
  text-align: justify;
}

/* navbar */
#barsmenu {
  display: none;
}

.humberger-nav-container {
  display: none;
}

.humberger-nav-container a {
  text-decoration: none;
  background-color: #3d3d3d;
  padding: 10px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffffff;
}

.humberger-nav-container .humberger-active {
  background-color: orangered;
}

@media only screen and (max-width: 900px) {
  section {
    flex-direction: column;
  }

  .left {
    flex: 100%;
    display: flex;
    justify-content: center;
  }
  
  .right {
    margin-left: 0;
  }
}

@media only screen and (max-width: 550px) {
  .item-collapse {
    display: none;
  }

  #barsmenu {
    display: block;
  }

  .humberger-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #000000;
  }
}

@media only screen and (max-width: 900px) {
  .blog .blog-list .blog-list-item {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 550px) {
  .blog-form .form-container {
    width: 90%;
    box-sizing : border-box;
  }

  form {
    /* display: flex;  
    flex-wrap: wrap;
    flex-direction: column; */
    display: grid;
  }

  form .input-blog-image {
    width: 90%;
    /* box-sizing : border-box */
  }
}